# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore